

<h2>Create a New Movie</h2>
<form method="post" action="/movies">
  <p>Title: </p>
  <input type="text" name="movie[title]" id="title">
  <p>Description:</p>
  <textarea name="movie[description]" cols="40" rows="10" id="description"></textarea>
  <br>
  <input type="submit" value="Create Movie">
</form>