<h1>Login to your Acount</h1><br>

<form method="post" action="/login">
  <h4><pre>
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" value="submit">
  </pre></h4>
</form>