

<h2>Welcome You in our Cinema you can resrve tickets and show movies from here <a href="/movies">movies</a><br></br>
you can login from here <a href="/login">Login</a><br></br>
and you can sign up form here <a href="/signup">Signup</a></h2>